:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f3f4f6;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*
 * Input
 */
 .inputContainer {
  display: flex;
  flex-direction: column;
  margin: 60px 60px 60px 60px;
  gap: 32px;
 }

 .personal,
 .education,
 .experience {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 .entry {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  gap: 6px;
 }

 label {
  font-weight: 600;
 }

 h2 {
  margin-top: 0;
 }

 input {
  border: none;
  background-color: #f3f4f6;
  height: 4vh;
  border-radius: 8px;
  padding-left: 8px;
 }
 
 input:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 

 #addExp {
  font-size: 24px;
 }
 
/*
 * Preview
 */
.displayContainer {
  background-color: #fff;
  padding: 24px;
  margin: 60px 60px 60px 60px;
  height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Personal */
.cv-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-personal h3 {
  font-size: 24px;
}

#fullName, .email,
.phone, .linkedIn {
  margin-bottom: 16px;
  display: flex;
}

#email, #phone, #linkedIn {
  margin: 0;
}

/* Contact */
.cv-contact {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.phone,
.email,
.linkedIn {
  display: flex;
  gap: 4px;
}

.cv-contact img {
  width: 20px;
}

/* Experience */
.cv-experience {
  margin: 8px 0 16px 0;
}

#expHeader {
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.job, .jobPreview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr;
}

.job p, .jobPreview p {
  margin: 2px;
}

#jobCompany {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  font-weight: bold;
}

#jobPosition {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-style: italic;
}

#jobLoc {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
}

#jobDuration {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
}

#jobDesc {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

#addExp, #addEdu {
  border: none;
  color: #fff;
  background-color: #187ff5;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
  margin-top: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
}

#addExp:hover, #addEdu:hover {
  cursor: pointer;
}

/* Education */

#eduHeader {
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.eduPreview, .edu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#eduSchool {
  grid-template-columns: 1 / 2;
  grid-template-rows: 2 / 3;
  font-weight: bold;
}

#eduDegree {
  grid-template-columns: 1 / 2;
  grid-template-columns: 2 / 3;
  font-style: italic;
}

#eduDuration {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
}

.edu p, .eduPreview p {
  margin: 2px;
}

.edu, .eduPreview {
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  gap: 16px;
}

#cancel {
  border: 1px solid grey;
  color: grey;
  background-color: #fff;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: auto;
}